<!DOCTYPE html>
<html>
<head>
	<title>Nelisa Spaza</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main_page.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<a href="/"><h1>Nelisa Spaza Shop</h1></a>
	</div>

	<div class="main-container">
		<table class="table-striped col-xs-12">
			<tbody>
				<tr>
					<td>
						<form action="category_earnings">
							<button>Category Earnings</button>
						</form>
					</td>

					<td>
						<form action="category_sales_per_day_per_week">
							<button>Category Sales Per Day and Per Week</button>
						</form>
					</td>

					<td>
						<form action="category_profits">
							<button>Category Profits</button>
						</form>
					</td>

					<td>
						<form action="daily_profits">
							<button>Average Daily Profits</button>
						</form>
					</td>
				</tr>

				<tr>
					<td>
						<form action="entire_stock">
							<button>Entire Stock</button>
						</form>
					</td>

					<td>
						<form action="regular_sales">
							<button>Most Regular Sales</button>
						</form>
					</td>

					<td>
						<form action="popular_categories">
							<button>Popular Categories</button>
						</form>
					</td>

					<td>
						<form action="popular_products">
							<button>Popular Products</button>
						</form>
					</td>
				</tr>

				<tr>
					<td>
						<form action="products_price_cost">
							<button>Products Price and Cost</button>
						</form>
					</td>

					<td>
						<form action="product_earnings">
							<button>Product Earnings</button>
						</form>
					</td>

					<td>
						<form action="products_per_day_per_week">
							<button>Product Sales Per Day Per Week</button>
						</form>
					</td>

					<td>
						<form action="product_profits">
							<button>Product Profits</button>
						</form>
					</td>
				</tr>

				<tr>
					<td>
						<form action="sales_per_day">
							<button>Sales Per Day</button>
						</form>
					</td>

					<td>
						<form action="stock_rates">
							<button>Stock Rates</button>
						</form>
					</td>

					<td>
						<form action="supplier_popular_product">
							<button>Supplier of Most Popular Product</button>
						</form>
					</td>

					<td>
						<form action="supplier_profitable_product">
							<button>Supplier of Most Profitable Product</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		{{{body}}}
	</div>

</body>
</html>