<!DOCTYPE html>
<html>
<head>
	<title>Nelisa Spaza</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main_page.css">
	<link href='static/css/simplesidebar.css' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="nav navbar navbar-default navbar-fixed-top">
		<a href="/"><h1>Nelisa Spaza Shop</h1></a>
	</div>
	
	<!--main-container div encases the buton and the tables that appear below-->
	<div class="main-container container">
	
		<!-- End of button container-->
		<div id="wrapper">

        <!-- Sidebar -->
	        <div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li class="sidebar-brand">
	                    <a href="/">
	                        Menu
	                    </a>
	                </li>
	                <li>
	                    <a href="/">Home</a>
	                </li>
	                <li>
	                    <a href="earnings">Earnings</a>
	                </li>
	                <li>
	                    <a href="sales">Sales</a>
	                </li>
	                <li>
	                    <a href="profits">Profits</a>
	                </li>
	                <li>
	                    <a href="supplier_information">Supplier Information</a>
	                </li>
	            </ul>
	        </div>
	        <div class="page-content-wrapper">
				{{{body}}}
			</div>
		</div>
	</div>
	<!-- main-container ends here -->


	<footer class="navbar-fixed-bottom">
		<div class="footer-right">
			<div class="col-xs-1 developers"><a href="/#">developers</a></div>
			<div class="col-xs-1 copyright"><a href="/#">copyright</a></div>
			<div class="col-xs-1 disclaimer"><a href="/#">disclaimer</a></div>
		</div>

		<div class="footer-left">
			<div class="col-xs-2">Powered by <a href="http://www.projectcodex.co">CodeX</a></div>
		</div>
	</footer>

</body>



</html>