<div class="container col-xs-12">
	<div class="navbar container btn-container col-xs-12">
		<div class="row col-xs-12">
			
			<button onclick="location.href='supplier_popular_product'" class="col-xs-4">
				Supplier of Most Popular Product
			</button>

			<button onclick="location.href='supplier_profitable_product'" class="col-xs-4">
				Most Profitable Product Supplier
			</button>

			<button onclick="location.href='all_suppliers'" class="col-xs-4">
				All Past Suppliers
			</button>
		</div>
	</div>
	<div class="cols-xs-10 shifter">

		<h2>Past Suppliers</h2>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Supplier Name</th>
				</tr>
			</thead>
				<form action="all_suppliers/add_all_suppliers" method="POST">
					<td><input type="text" name="shop"></td>
					<td colspan="2"><input class="col-xs-12" value="Save" type="submit"></td>
				</form>
			</tr>
			{{#data}}
				<tr>
					<td>{{shop}}</td><td><a href="all_suppliers/edit_all_suppliers/{{shop}}">edit</a></td><td><a href="all_suppliers/delete_all_suppliers/{{shop}}">delete</a></td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>