<div class="container col-xs-12">
<div class="cols-xs-10 shifter">
		
		<h2>Categories</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Category</th>
				</tr>
			</thead>
			<tr>
					<form action="/categories/add_categories" method="POST">
						<td><input class="col-xs-12" type="text" name="cat_name"></td>
						
						<td colspan="2"><input class="col-xs-12" value="Save" type="submit"></td>
					</form>
				</tr>
			{{#data}}
				<tr>
					<td>{{cat_name}}</td><td><a href="categories/edit_categories/{{ID}}">edit</a></td><td><a href="categories/delete_categories/{{ID}}">delete</a></td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>