<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		<h2>Average Category Sales per Day and per Week</h2>
		<form>
				<input class="searchBar" id="categorySearchBar" type="text" name="category_sales_per_day_per_week"></input>
		</form>
		<table class="table" id="categoryList">
			<thead>
				<tr>
					<th>Category</th> <th>Sales Per Day</th> <th>Sales Per Week</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{cat_name}}</td><td>{{per_day}}</td><td>{{per_week}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>