<h1>Edit</h1>

{{#data}}
<form action="/all_suppliers/update_all_suppliers/{{id}}" method="POST">
	Suppliers Name: <input type="text" name="id" value="{{shop}}">	
	<input type="submit">
</form>
{{/data}}