<h1>Edit</h1>

{{#data}}
<form action="/categories/update_categories/{{ID}}" method="POST">
	ID: <input type="text" name="ID" value="{{ID}}">	
	Cat Name: <input type="text" name="cat_name" value="{{cat_name}}">	
	<input type="submit">
</form>
{{/data}}