
{{#if administrator}}
	<h1>Edit Supplier</h1>

	{{#data}}
	<form action="/all_suppliers/update_all_suppliers/{{id}}" method="POST">
		Suppliers Name: <input type="text" name="shop" value="{{shop}}">	
		<input type="submit">
	</form>
	{{/data}}
{{else}}
	<h1>YOU HAVE TO BE ADMIN!</h1>
<<<<<<< HEAD
{{/if}}
=======
	<H1>WHAT YOU DOING HERE ANYWAY?!</H1>
{{/if}}
>>>>>>> b45b26a7c6f9d8780c970e43ac99371dd5e37bd6
