<h1>Edit</h1>

{{#data}}
<form action="/all_suppliers/update_all_suppliers/{{shop}}" method="POST">
	Suppliers Name: <input type="text" name="shop" value="{{shop}}">	
	<input type="submit">
</form>
{{/data}}