<table class="table" id="entire_stockList">
			<thead>
				<tr>
					<th>Product</th> <th>Quantity</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{item}}</td><td>{{quantity}}</td>
				</tr>
			{{/data}}

</table>