<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Entire Stock</h2>
		<form>
			<input class="searchBar" id="entire_stockSearchBar" type="text" name="entire_stock"></input>
		</form>
		<table class="table" id="entire_stockList">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Product</th> <th>Quantity</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{item}}</td><td>{{quantity}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>