<div class="container">
	<h1>Nelisa and Xolani</h1>
	<h2>Owner and Administrator</h2>
	<div class="row">
		<div>
			<img class="col-xs-4" src="static/images/PersonaNelisa.png">
		</div>

		<div class="col-xs-4"> </div>
		
		<div>
			<img class="col-xs-4" src="static/images/PersonaXolani.png">
		</div>
	</div>
</div>