<div class="navbar container btn-container col-xs-12">
	<div class="row col-xs-12">
	
		<button onclick="location.href='sales_history'" class="col-xs-3">
			Show Sales History
		</button>

		<button onclick="location.href='purchase_history'" class="col-xs-3">
			Show Purchase History
		</button>

		<button onclick="location.href='product_sold'" class="col-xs-3">
			Show Product Sold
		</button>

		<button onclick="location.href='categories'" class="col-xs-3">
			Show Categories
		</button>
	</div>

</div>

