	<table class="table" id="popular_productList">
			<thead>
				<tr>
					<th>Product</th> <th>Total number of items sold</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{no_sold}}</td>
				</tr>
			{{/data}}

	</table>