<div class="container col-xs-12">
		<div class="navbar btn-container col-xs-12">
			<div class="row col-xs-12">
			
				<button onclick="location.href='category_sales_per_day_per_week'" class="col-xs-3">
					Category Sales: (Day/Week)
				</button>

				<button onclick="location.href='entire_stock'" class="col-xs-3">
					Entire Stock
				</button>

				<button onclick="location.href='regular_sales'" class="col-xs-3">
					Most Regular Sales
				</button>

				<button onclick="location.href='popular_products'" class="col-xs-3">
					Popular Products
				</button>
			</div>

			<div class="row col-xs-12">
				<button onclick="location.href='products_price_cost'" class="col-xs-3">
					Products Price and Cost
				</button>
			
				<button onclick="location.href='products_per_day_per_week'" class="col-xs-3">
					Product Sales: (Day/Week)
				</button>
				
				<button onclick="location.href='sales_per_day'" class="col-xs-3">
					Sales Per Day
				</button>
	
				<button onclick="location.href='stock_rates'" class="col-xs-3">
					Stock Rates
				</button>

			</div>
		</div>
	<div class="cols-xs-10 shifter">
		
		<h2>Popularity of Categories</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Category</th> <th>Total number of items sold</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{cat_name}}</td><td>{{no_sold}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>