<div class="cols-xs-10 shifter">
	<h2>Popularity of Categories</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Category</th> <th>Total number of items sold</th>
			</tr>
		</thead>
	
		{{#each data}}
			<tr>
				<td>{{category}}</td><td>{{sold_no}}</td>
			</tr>
		{{/each}}

	</table>
</div>