<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">

		<h2>Price and Cost of Each Product</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Product</th> <th>Price of Item (in Rands(R))</th><th>Cost of Item (in Rands(R))</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{sales_price}}</td><td>{{cost}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>