<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Weekly and Daily Sales Averages of Products</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Product</th> <th>Daily Average Sales</th><th>Weekly Average Sales</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{per_day}}</td><td>{{per_week}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>