<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Weekly and Daily Sales Averages of Products</h2>
<<<<<<< HEAD
		<form>
				<input class="searchBar" id="productDayWeekSearchBar" type="text" name="products_per_day_per_week"></input>
		</form>
		<table class="table" id="productDayWeekList">
=======
		<table class="table table-striped table-bordered">
>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
			<thead>
				<tr>
					<th>Product</th> <th>Daily Average Sales</th><th>Weekly Average Sales</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{per_day}}</td><td>{{per_week}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
<<<<<<< HEAD
</div>
=======

>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
