	<!-- button starts-->
<div class="navbar container btn-container col-xs-12">
	<div class="row col-xs-12">

		<button onclick="location.href='category_profits'" class="col-xs-4">
			Category Profits
		</button>

		<button onclick="location.href='daily_profits'" class="col-xs-4">
			Average Daily Profits
		</button>

		<button onclick="location.href='product_profits'" class="col-xs-4">
			Product Profits
		</button>
	</div>

</div>
<!-- End of button container-->