<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Regular Sales</h2>
		<form>
			<label class="label-lg label-info">Seacrh</label>
			<input class="searchBar" id="salesSearchBar" type="text" name="regular_sales"></input>
		</form>
		<table class="table" id="saleList">
			<thead>
				<tr>
					<th>Product</th> <th>Frequency of Sales</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{frequency}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>
