<<<<<<< HEAD
<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Regular Sales</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Product</th> <th>Frequency of Sales</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{frequency}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
=======
<div class="cols-xs-10 shifter">
	<h2>Regular Sales</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Product</th> <th>Frequency of Sales</th>
			</tr>
		</thead>
	
		{{#each data}}
			<tr>
				<td>{{product}}</td><td>{{frequency}}</td>
			</tr>
		{{/each}}

	</table>
>>>>>>> fafffc0177323eee9be914c915a73e4f157d8ecc
</div>