<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Regular Sales</h2>
<<<<<<< HEAD
		<form>
				<input class="searchBar" id="salesSearchBar" type="text" name="regular_sales"></input>
		</form>
		<table class="table" id="saleList">
=======
		<table class="table table-striped table-bordered">
>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
			<thead>
				<tr>
					<th>Product</th> <th>Frequency of Sales</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{frequency}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
<<<<<<< HEAD
</div>
=======

>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
