<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Average Sales per Weekday</h2>
<<<<<<< HEAD
		<form>
			<input class="searchBar" id="salesDayWeekSearchBar" type="text" name="sales_per_day"></input>
		</form>
		<table class="table" id="salesDayWeekList">
=======
		<table class="table table-striped table-bordered">
>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
			<thead>
				<tr>
					<th>Product</th> <th>Average Sales of Day</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{day}}</td><td>{{avg_per_weekday}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
<<<<<<< HEAD
</div>
=======

>>>>>>> 3b95f8960004ffc68e2e655b84bb34e0995bb843
