	<table class="table" id="saleList">
			<thead>
				<tr>
					<th>Product</th> <th>Frequency of Sales</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{stock_item}}</td><td>{{frequency}}</td>
				</tr>
			{{/data}}

		</table>