<div class="container col-xs-12">
	<div class="cols-xs-10 shifter">
		
		<h2>Average Sales per Weekday</h2>
		<form>
			<label class="label-lg label-info">Seacrh</label>
			<input class="searchBar" id="salesDayWeekSearchBar" type="text" name="sales_per_day"></input>
		</form>
		<table class="table" id="salesDayWeekList">
			<thead>
				<tr>
					<th>Product</th> <th>Average Sales of Day</th>
				</tr>
			</thead>
		
			{{#data}}
				<tr>
					<td>{{day}}</td><td>{{avg_per_weekday}}</td>
				</tr>
			{{/data}}

		</table>
	</div>
</div>
