<table class="table" id="stock_ratesList">
			<thead>
				<tr>
					<th>Product</th> <th>Rate of Decrease(%)</th>
				</tr>
			</thead>
		
			<body>
				{{#data}}
					<tr>
						<td>{{item}}</td><td>{{rate_as_percent}}</td>
					</tr>
				{{/data}}
			</body>
</table>