<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nelisa</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <tbody>
<div class="container">
  <div class="jumbotron">
    <h1 align="center">Nelisa Spaza Shop</h1>   
  </div>

    <h2>USERS</h2> 

   <table class="table">
    <thead>
<tr>
    <th class="col-md-3">Username</th><th class="col-md-3">Password</th><th> UserRole</th>
</tr>
    </thead>
<tbody>
{{#data}}
<tr>
    <td>{{username}}</td><td>{{password}}</td><td>{{role}}</td>
</tr>
{{/data}}
</tbody>
</table>
</div>
</body>
</html>