
<br/>
<br/>
<br/>
<div class="cols-xs-10" style="clear:both">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Category</th> <th>Earnings</th>
			</tr>
		</thead>
	
		{{#each data}}
			<tr>
				<td>{{category}}</td><td>{{earnings}}</td>
			</tr>
		{{/each}}

	</table>
</div>