a {
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: rgb(133,0,0);
}

a:hover {
	text-decoration: none
}

h1 {
	text-align: center;
	font: 4em Courier, "Comic Sans MS", Georgia, sans-serif;
	font-weight: bolder;
}

h3 {
	text-align: center;
	padding: 5em 0 0 0;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 2.5em
}

.navbar-fixed-top {
	position: relative;
	padding: 0;
	margin: 0;

}


.main-container {
	padding:0 0 5em 0;
	margin: 0 auto;
}

body {
	background-color: rgb(50,200,250);
}

table {
	background-color: white;
}

.row {
	margin: 0 auto;
}

.col-md-2 > a {
	color: white;
	font-weight: bolder;
}

footer {
	text-align: center;
	margin: 0 0 20em 0;
	color: white;
	font-weight: bolder;
	background-color: rgba(100, 10, 10, 200);
	border: 2px solid black;

}

.footer-right > div {
	float: right;
	margin: 0;
	padding: 0;
}

.footer-left > div {
	float: left;
	margin: 0;
	padding: 0;
}

tr > td {
	width: 33%;
}