table, div {
	clear: both;
}

a {
	text-decoration: none;
	clear: none;
	margin: 0 auto
}

a:hover {
	text-decoration: none
}

h1 {
	text-align: center;
	font: 4em Courier, "Comic Sans MS", Georgia, sans-serif;
	font-weight: bolder;
}

h3 {
	text-align: center;
	padding-top: 10em 
}

h2 {
	text-align: center;
	font-size: 5em
}

.shifter {
	padding: 0 10em;
	margin-top: 8em;
	background-color: white;
}

.main-container {
	padding-top: 10em;

}


.padded-div {
	padding: 0 10em;
	width: 100%
}

button {
	text-align: center;
	width: 20em;
}

body {
	background-color: rgb(150,200,255);
}

table:first-child {
	background-color: white;
}